/*global styling*/
@import url("https://use.typekit.net/jdj3etw.css");

body{
margin:0;
}

header{
width:100%;
background-color:black;
border:5px solid white;
box-sizing: border-box;

}
h1{
color:white;
font-family: Garamond;
font-size:50px;
border-radius: 15px;
text-align: center;
padding: 5px;

}
h2{
  font-family: Garamond;
  font-size:30px;
  text-align: center;

}
.aboutthiswebsitetitle{
  color:white;
  font-family: Garamond;
  font-size:30px;
  text-align: center;


}

.home{
  position: absolute;
  width:110px;
  z-index: 100;
  top:7px;
  left:7px;

  /*
object-position: left;
overflow:auto;
display: inline-flex; */
}

.home img:hover{
  border: 5px solid white;

}
.writing{
  color:black;
  font-family: Garamond;
  font-size:20px;
  text-align: center;
  padding: 5px;

}

.contact{
  color:white;
font-family: Garamond;
font-size:15px;
text-align: center;
padding: 5px;
font-style: italic;

}

li{
  display:inline-block
  list-style-position: inside;
  list-style:none;
  font-family: Garamond;
  font-size:25px;
  text-align: left;
  padding: 10px;

  }

a{
  text-decoration: none;
}

.aboutme {
  color: black;
}

.aboutme:hover {
  background-color: black;
  color:white;
}
.mywork {
  color: white;
}

.mywork:hover {
  background-color: white;
  color:black;
}
.gallery {
  color: black;
}

.gallery:hover {
  background-color: black;
  color:white;
}

.funfacts {
  color: white;
}

.funfacts:hover {
  background-color: white;
  color:black;
}

.cats {
	color: black;
}

.cats:hover {
    background-color: black;
    color:white;
}

hr {
  border: 2px solid white;
}

main.wrapper{
display:table;
width:100%;
}

.box{

}

main{
border:5px solid white;
height:150%;

}

.right {
  position:absolute;
right:0px;
width:30%;
height:100%;
background-color:#484848;
border-right: 5px solid white;
border-bottom: 5px solid white;
}

.left{
  text-align:center;
  position:absolute;
left:0px;
width:70%;
height:100%;
background-color:#919191;
border-right: 5px solid white;
border-left: 5px solid white;
border-bottom: 5px solid white;
}

.contactlink{
  color:white;
font-family: Garamond;
font-size:15px;
text-align: center;
padding: 5px;
font-style: italic;
}

.contactlink:hover{
  color:black;
}

/*part 2*/
/* need to add h2(different color),body(different color), .cats, .aboutme, .mywork  */
h3{
font-family: Garamond;
font-size:20px;
text-align: center;
padding: 0px;

}
.picturesofmywork{
color:#919191

}

.picturesofmywork:hover{
  color:black;
}


/* part 3 */
/* add div */

.whitebackgroundcolor{
   background-color:#E8E8E8;
  margin:0;
  padding:0;
width:100%;
height:200vh;
/* background-color:#E8E8E8;
border: 5px solid red;
box-sizing: border-box; */

}
.gallerypics{
  display: inline-block;
  float: left;
  text-align: center;
}

.writingtext{
  color:black;
  font-family: Garamond;
  font-size:18px;
  text-align: justify;

}
.writingtext:hover{
  color:white;
}

.writingtextjustified{
  color:black;
  font-family: Garamond;
  font-size:18px;
  text-align: justify;
  padding: 10px;
  margin:10px
}

.writingtextcentered{
  color:black;
  font-family: Garamond;
  font-size:18px;
  text-align: center;
  padding: 20px;
}

.writingtextcentered02{
  color:black;
  font-family: Garamond;
  font-size:18px;
  text-align: center;
  padding: 20px;
}

.writingtextcentered02:hover {
  color:white;
}

.aboutmepic{
text-align: center;

}
.myworkpic{
text-align: center;
}

/* .leftpic{
  text-align:center;
  background-color: blue;
  left:0px;
  width:70%;
  height:100%;
  display: inline-flex;
  margin: 20px;

}

.righttext{
right:0px;
width:30%;
height:100%;
background-color:red;
display: inline-flex;
margin: 20px;

} */
